# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# Data
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Notebooks
.ipynb_checkpoints/
ml/notebooks/

# Logs
logs/

# Models (keep .pkl out, but allow .joblib since they're small)
saved_models/*.pkl

# Environment variables
.env

# OS files
.DS_Store

# Test databases
*.db
test.db